<section id="Banner" class="content-section">
  <div class="container content-wrap text-center">
    <h1>Kaar Technologies</h1>
    <h3>
      <em>Basic</em>
    </h3>
    <a class="btn btn-primary btn-xl smooth-scroll" href="#About">Explore</a>
  </div>
  <div class="overlay"></div>
</section>
<!-- Header Ends -->
<!-- About Us Starts -->
<section id="About" class="content-section">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12">
        <div class="block-heading">
          <h2>About Us</h2>
        </div>
        <p class="lead">Kaar Technologies is a global consulting firm focused at designing, delivering and deploying the finest ideas and SAP expertise to empower companies in achieving new heights of excellence in today’s challenging business landscape.

        <p class="lead">  Our combined thrust drawn from the business vision of our leadership team and assimilated SAP capability propels us to partner with our clients in identifying and architecting their business agenda. As a CMMi level 3 company, Kaar believes in being a trusted advisor to clients and fosters long-term working relationships by exceeding customer expectations.</p>

        <p class="lead">  Driven by the steadfast pursuit of excellence, Kaar Technologies exudes professionalism and proficiency in all areas of function. Every day we are inspired to impact businesses with original and imaginative approaches and help cultivate tomorrow’s breakthroughs.</p>
      </div>
    </div>
  </div>
</section>
<!-- About Us Starts -->
<section id="Services" class="content-section text-center">
  <div class="container">
    <div class="block-heading">
      <h2>What We Offer</h2>

    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="service-box">
          <div class="service-icon yellow">
            <div class="front-content">
              <i class="fa fa-globe" aria-hidden="true"></i>
              <h3>Customer Portal</h3>
            </div>
          </div>
          <div class="service-content">
            <h3>Customer Portal</h3>
            <h1><a routerLink="/login">Log in</a> </h1>

          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="service-box">
          <div class="service-icon orange">
            <div class="front-content">
              <i class="fa fa-suitcase"></i>
              <h3>Vendor Portal</h3>
            </div>
          </div>
          <div class="service-content">
            <h3>Vendor Portal</h3>
            <p>The objective of the vendor portal is to understand the functionalities of Material Management
              (MM) and Finance (FI) module. This portal is to be designed for maintaining the data of all the
              vendors carrying out business with the organization. The need of vendor portal is to access and
              view the complete transaction between the company and vendor.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="service-box ">
          <div class="service-icon red">
            <div class="front-content">
              <i class="fa fa-male" aria-hidden="true"></i>
              <h3>Employee Portal</h3>
            </div>
          </div>
          <div class="service-content">
            <h3>Employee Portal</h3>
            <p>The objective of the Employee portal is to understand the functionalities of Human Resource
              (HR) and Finance (FI) module. This portal is to be designed for providing info about the
              organization and employees, getting the pay slip as printable, leave balance and to request
              leave. The need of Employee portal is to have quick and easy access to HR-related transactions
              and services.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

